<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Testbot Aviation{% endblock %}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="max-width:600px;margin:18px auto;">
    {% for category, message in messages %}
      <div class="flash{% if category %}-{{ category }}{% endif %}">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="centered">
  <img src="{{ url_for('static', filename='logo.png') }}" class="logo" style="max-width:180px;"/>
  {% block content %}{% endblock %}
</div>
</body>
</html>